@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@-webkit-keyframes slide-left {
  from {
    left: 0%;
  }
  to {
    left: 41%;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide-left {
  animation: slide-left 1s;
  -webkit-animation: slide-left 1s;
}

body {
  background-color: #F1F2F3;
  margin-bottom: 0 !important;
}

html, body {
  height: 100% !important;
}

p {
  font-family: "Open Sans", sans-serif;
  margin: 0 !important;
}

.slide-left {
  position: relative;
  left: 41%;
  width: 50%;
  margin-left: -45px !important;
  padding-top: 30px !important;
}

h3 {
  color: #204056;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.183em;
  position: relative;
  padding-top: 30px !important;
}

circle {
  opacity: 1;
}

.element {
  position: absolute;
  left: 48%;
  margin-left: -75px !important;
  display: block;
  animation-name: appear;
  animation-duration: 1s;
}

#sass-logo {
  width: 100px;
  fill: white;
  margin-left: 14%;
}

.food-graph {
  margin-top: 10%;
}

.lightgreen-bg {
  background-color: #e9f5dc;
}

.beige-bg {
  background-color: beige;
}

.more-round-border {
  border-radius: 2rem !important;
}

.hr-blue {
  border: 10px solid rgba(10, 165, 153, 0.45);
  border-radius: 5px;
}

#footer {
  font-family: "Open Sans", sans-serif;
  height: 150px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
  color: #434444;
}

span {
  display: block;
}

rect {
  width: 4em;
  float: left;
  padding-left: 25px;
  padding-top: 7px;
  white-space: nowrap;
  word-break: break-all;
  position: relative;
  bottom: 0px;
  font-size: 12px;
  color: #707070;
  background-color: #707070;
  font-family: "Montserrat", sans-serif;
}
rect:before {
  display: inline-block;
  -webkit-transform: rotate(90deg);
  transform-origin: left top 0;
  float: left;
}
rect:after {
  position: absolute;
  top: -15px;
  left: 0px;
}

rect.rect1:nth-child(2) {
  height: 379.6px;
  background-color: rgba(141, 145, 211, 0.95);
}
rect.rect1:nth-child(2):before {
  content: "Sugar Cane";
}
rect.rect1:nth-child(2):after {
  content: "1898m";
}

rect.rect1:nth-child(3) {
  height: 203.4px;
  background-color: rgba(143, 211, 141, 0.9);
}
rect.rect1:nth-child(3):before {
  content: "Corn";
}
rect.rect1:nth-child(3):after {
  content: "1017m";
}

rect.rect1:nth-child(4) {
  height: 147.6px;
  background-color: rgba(141, 211, 206, 0.85);
}
rect.rect1:nth-child(4):before {
  content: "Rice";
}
rect.rect1:nth-child(4):after {
  content: "738m";
}

rect.rect1:nth-child(5) {
  height: 142.2px;
  background-color: rgba(141, 145, 211, 0.8);
}
rect.rect1:nth-child(5):before {
  content: "Wheat";
}
rect.rect1:nth-child(5):after {
  content: "711m";
}

rect.rect1:nth-child(6) {
  height: 127px;
  background-color: rgba(143, 211, 141, 0.75);
}
rect.rect1:nth-child(6):before {
  content: "Cow Milk";
}
rect.rect1:nth-child(6):after {
  content: "635m";
}

rect.rect1:nth-child(7) {
  height: 74.8px;
  background-color: rgba(141, 211, 206, 0.7);
}
rect.rect1:nth-child(7):before {
  content: "Potatoes";
}
rect.rect1:nth-child(7):after {
  content: "374m";
}

rect.rect1:nth-child(8) {
  height: 55.8px;
  background-color: rgba(141, 145, 211, 0.65);
}
rect.rect1:nth-child(8):before {
  content: "Vegetables";
}
rect.rect1:nth-child(8):after {
  content: "279m";
}

rect.rect1:nth-child(9) {
  height: 55.6px;
  background-color: rgba(143, 211, 141, 0.6);
}
rect.rect1:nth-child(9):before {
  content: "Soy Beans";
}
rect.rect1:nth-child(9):after {
  content: "278m";
}

rect.rect1:nth-child(10) {
  height: 52.6px;
  background-color: rgba(141, 211, 206, 0.55);
}
rect.rect1:nth-child(10):before {
  content: "Cassava";
}
rect.rect1:nth-child(10):after {
  content: "263m";
}

rect.rect1:nth-child(11) {
  height: 49.4px;
  background-color: rgba(141, 145, 211, 0.5);
}
rect.rect1:nth-child(11):before {
  content: "Sugar Beets";
}
rect.rect1:nth-child(11):after {
  content: "247m";
}

rect.rect2:nth-child(2) {
  height: 240px;
  background-color: rgba(167, 240, 213, 0.55);
}
rect.rect2:nth-child(2):before {
  content: "Corn";
}
rect.rect2:nth-child(2):after {
  content: "1200m";
}

rect.rect2:nth-child(3) {
  height: 203.4px;
  background-color: rgba(0, 159, 255, 0.5);
}
rect.rect2:nth-child(3):before {
  content: "Soy Beans";
}
rect.rect2:nth-child(3):after {
  content: "1017m";
}

rect.rect2:nth-child(4) {
  height: 162.4px;
  background-color: rgba(10, 165, 153, 0.45);
}
rect.rect2:nth-child(4):before {
  content: "Cow Milk";
}
rect.rect2:nth-child(4):after {
  content: "812m";
}

rect.rect2:nth-child(5) {
  height: 142.2px;
  background-color: rgba(167, 240, 213, 0.4);
}
rect.rect2:nth-child(5):before {
  content: "Wheat";
}
rect.rect2:nth-child(5):after {
  content: "711m";
}

rect.rect2:nth-child(6) {
  height: 127px;
  background-color: rgba(0, 159, 255, 0.35);
}
rect.rect2:nth-child(6):before {
  content: "Sugar Beet";
}
rect.rect2:nth-child(6):after {
  content: "635m";
}

rect.rect2:nth-child(7) {
  height: 119.8px;
  background-color: rgba(10, 165, 153, 0.3);
}
rect.rect2:nth-child(7):before {
  content: "Sugar Cane";
}
rect.rect2:nth-child(7):after {
  content: "599m";
}

rect.rect2:nth-child(8) {
  height: 99.8px;
  background-color: rgba(167, 240, 213, 0.25);
}
rect.rect2:nth-child(8):before {
  content: "Potatoes";
}
rect.rect2:nth-child(8):after {
  content: "499m";
}

rect.rect3:nth-child(2) {
  height: 203.4px;
  background-color: rgba(225, 161, 252, 0.95);
}
rect.rect3:nth-child(2):before {
  content: "Dairy Products";
}
rect.rect3:nth-child(2):after {
  content: "1017m";
}

rect.rect3:nth-child(3) {
  height: 147.6px;
  background-color: rgba(188, 252, 161, 0.9);
}
rect.rect3:nth-child(3):before {
  content: "Chicken Eggs";
}
rect.rect3:nth-child(3):after {
  content: "738m";
}

rect.rect3:nth-child(4) {
  height: 142.2px;
  background-color: rgba(252, 193, 161, 0.85);
}
rect.rect3:nth-child(4):before {
  content: "Beef";
}
rect.rect3:nth-child(4):after {
  content: "711m";
}

rect.rect3:nth-child(5) {
  height: 127px;
  background-color: rgba(225, 161, 252, 0.8);
}
rect.rect3:nth-child(5):before {
  content: "Chicken";
}
rect.rect3:nth-child(5):after {
  content: "635m";
}

rect.rect3:nth-child(6) {
  height: 74.8px;
  background-color: rgba(188, 252, 161, 0.75);
}
rect.rect3:nth-child(6):before {
  content: "Corn";
}
rect.rect3:nth-child(6):after {
  content: "374m";
}

rect.rect3:nth-child(7) {
  height: 55.8px;
  background-color: rgba(252, 193, 161, 0.7);
}
rect.rect3:nth-child(7):before {
  content: "Pork";
}
rect.rect3:nth-child(7):after {
  content: "279m";
}

rect.rect3:nth-child(8) {
  height: 30px;
  background-color: rgba(225, 161, 252, 0.65);
}
rect.rect3:nth-child(8):before {
  content: "Soy Beans";
}
rect.rect3:nth-child(8):after {
  content: "150m";
}

@media (max-width: 992px) {
  .sm-margin {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
