$slogan-font: 'Open Sans', sans-serif;
$slogan-spacing: 0.183em;
$blue: #204056;

$world-foods: ("Sugar Cane" 1898),
("Corn" 1017),
("Rice" 738),
("Wheat" 711),
("Cow Milk" 635),
("Potatoes" 374),
("Vegetables" 279),
("Soy Beans" 278),
("Cassava" 263),
("Sugar Beets" 247);

$color-blue: #8dd3ce;
$color-purple: #8d91d3;
$color-green: #8fd38d;

$US-foods: ("Corn" 1200),
("Soy Beans" 1017),
("Cow Milk" 812),
("Wheat" 711),
("Sugar Beet" 635),
("Sugar Cane" 599),
("Potatoes" 499);

$diamond-blue: rgba(0, 159, 255, .6);
$sea-green: rgba(10, 165, 153, .6);
$pale-green: rgba(167, 240, 213, .6);

$PA-foods: ("Dairy Products" 1017),
("Chicken Eggs" 738),
("Beef" 711),
("Chicken" 635),
("Corn" 374),
("Pork" 279),
("Soy Beans" 150);

$color-orange: #fcc1a1;
$color-pink: #e1a1fc;
$color-lime:#bcfca1 ;